
#ingonre these files
vim80/*.*
vim80/autoload/*
vim80/compiler/*
vim80/doc/*
vim80/ftplugin/*.*
vim80/indent/*
vim80/keymap/*
vim80/lang/*
vim80/macros/*
vim80/plugin/*
vim80/spell/*
vim80/syntax/*
vim80/tools/*
vim80/tutor/*
vim80/bundle/QFEnter
*.zip
*.swp
_vimrc~
vim80/tags


!vim80/ctags.exe
!vim80/autoload/pathogen.vim
!vim80/autoload/textobj
!vim80/syntax/fx.vim
!vim80/syntax/glsl.vim
!vim80/ftplugin/mkd.vim
!vim80/syntax/mkd.vim
!vim80/ftplugin/python.vim
!vim80/ftplugin/python/textobj-python.vim
